<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ReleaseFileBackupTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ReleaseFileBackupTool.Properties.Settings>
            <setting name="RemoteHost" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="RemotePort" serializeAs="String">
                <value>22</value>
            </setting>
            <setting name="RemoteUser" serializeAs="String">
                <value>foo</value>
            </setting>
            <setting name="RemoteBasePath" serializeAs="String">
                <value>/home/foo/</value>
            </setting>
            <setting name="SshPrivateKeyPath" serializeAs="String">
                <value>C:\Users\foo\.ssh\id_rsa</value>
            </setting>
            <setting name="ReleasePath" serializeAs="String">
                <value>C:\temp\release\</value>
            </setting>
            <setting name="BackupPath" serializeAs="String">
                <value>C:\temp\backup\</value>
            </setting>
        </ReleaseFileBackupTool.Properties.Settings>
    </userSettings>
</configuration>